{% extends "layout.html" %}
{% block body %}
<div class=entry>
<h1>{{ entry.title}}</h1>
<p>{{ entry.abstract }}</p>
<p>{{ entry.doi }}</p>
{% for bookmark in entry.bookmarks %}
  <div class=entry>
  <h3>{{ bookmark.user.name }}</h3>
    <p>{{ bookmark.comment }}</p>
    <ul>
    {% for comment in bookmark.comments -%}
      <li>{{ comment.user.name }}
      <p>{{ comment.comment }}</p>
      </li>
    {% endfor %}
    </ul>
{% else %}
  <em>Unbelievable. No entries here so far</em>
  </div>
{% endfor %}
</div>
{% endblock %}
